[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".xmonad/xmonad"]
	path = .xmonad/xmonad
	url = https://github.com/xmonad/xmonad
[submodule ".xmonad/xmonad-contrib"]
	path = .xmonad/xmonad-contrib
	url = https://github.com/xmonad/xmonad-contrib
